body {
    margin: 20;
    padding: 20;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.container {
    width: 70%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    text-align: center;
}

h1 {
    color: #1e3c72;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

img {
    width: 280px;
    border-radius: 10px;
    margin: 20px 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1e3c72;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

a:hover {
    background-color: #16325c;
}